<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ponie FE</title>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:900|Days+One|Rubik" rel="stylesheet">
    <link href="css/entypo.min.css" rel="stylesheet">
    <link href="css/styles.min.css" rel="stylesheet">
  </head>
  <body class="theme-default">

    <nav>
      <div class="l ponie-db">
        <a class="inline-block" href="#db">
          <span class="icon-database"></span>
          <span class="small">8/8</span>
        </a>
      </div>
      <div class="m ponie-logo">
          <a href="">Ponie Club</a>
      </div>
      <div class="r ponie-user">
        <a class="inline-block" href="#user">
          <span class="icon-user"></span>
          <span class="small">Log in</span>
        </a>
      </div>
    </nav>

    <section class="apps">
      <a href="#news" class="active">
        <span class="icon-feather"></span>
      </a>
      <a href="#servers">
        <span class="icon-database"></span>
      </a>
      <a href="#games">
        <span class="icon-game-controller"></span>
      </a>
    </section>
