<section class="app">

  <div class="app-title">
    <div class="inline-block">
      <h1>News Feed</h1>
      <select name="app-sources">
        <option value="all">All Sources</option>
        <option value="ponie">Ponie Club</option>
        <option value="wetfish">Wetfish</option>
      </select>
      <select name="app-filters">
        <option value="new">Newest</option>
        <option value="old">Oldest</option>
        <option value="mostPop">Most Popular</option>
        <option value="leastPop">Least Popular</option>
      </select>
    </div>
  </div>
  <div class="news-grid">
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez What the fuck lets have huge line wraps go eat sanchez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
    <div class="news-item">
      <h2>Ponie Club FE is the beez kneez</h2>
    </div>
  </div>

</section>
